form {
  text-align: center;
}
.student-section {
  display: flex;
  justify-content: space-around;
}

.list {
  border: 2px solid gray;
  margin-top: 30px;
}

button {
  margin-left: 5px;
}

li {
  list-style: none;
}
