/* .box1 {
  height: 300px;
  width: 300px;
  background-color: tomato;
  padding: 20px;
  border: 10px solid yellowgreen;
  box-sizing: border-box;
  margin-bottom: 100px;
}
.box2 {
  height: 300px;
  width: 300px;
  background-color: green;
  margin-top: 100px;
} */
/* .google {
  background-color: tomato;
  color: #fff;
  padding: 20px;
  border: 5px solid aqua;
  margin-right: 150px;
  margin-top: 200px;
  display: inline-block;
}
.yahoo {
  background-color: green;
  color: #fff;
} */

div {
  height: 70vh;
  background-color: chocolate;
}
